doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title 10x19
    body 
        span 
        span    
        span.menu Menu
        .number__row
            .number #10
            .number #9
            .number #8
            .number #7
            .number #6
        .number__row
            .number #5
            .number #4
            .number #3
            .number #2
            .number #1
        .center-image 
        span 
        .scrolling__text 
            span
                | This is a very long text that should scroll using CSS3 Anmation and not JS
        span 